<app-game-navbar></app-game-navbar>

<div class="container">
  <h1 class="games-future">Games of the Future 🤩 🚀</h1>

    <!-- Buscador y selects -->
    <div class="row search-bar">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search by title"  (input)="onSearch($event)">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-group">
          <select class="form-control" (change)="filterGender($event)">
            <option *ngFor="let gender of allGenders" [value]="gender">{{ gender }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="input-group">
          <select class="form-control" (change)="filterPlatform($event)">
            <option *ngFor="let platorm of allPlatforms" [value]="platorm">{{ platorm }}</option>
          </select>
        </div>
      </div>
    </div>

  <div class="row">
    <!-- Aquí irían las cards generadas con *ngFor u otro método según la lista de juegos -->
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let game of filteredGames">
      <div class="card"  [routerLink]="['/game', game.id]">
        <div class="card-img" [style.background-image]="'url(' + game.thumbnail + ')'">
          <h5 class="card-title">{{ game.title }}</h5>
          <p class="card-text">{{ game.short_description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-game-footer></app-game-footer>